body {
  background-color: white;
  font-family: Helvetica;
  /* justify-content: center;
  align-items: center; */
  /* display: flex; */
}

input {
  transition: transform 100ms ease;
  cursor: pointer;
  /* display: flex; */
}

.checkboxes {
  height: 300px;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  transition: transform 100ms ease;
}

.textout {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
